@import "tailwindcss";

@theme {
  /* Menyambungkan variabel font dari layout.js ke Tailwind v4 */
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

/* Tambahan untuk scrollbar & utilitas rapi */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}